@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600&family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600&display=swap");
.p-10 {
  padding: 1rem;
}

.p-20 {
  padding: 2rem;
}

.p-30 {
  padding: 3rem;
}

.p-60 {
  padding: 6rem;
}

.py-10 {
  padding: 1rem 0;
}

.py-15 {
  padding: 1.5rem 0;
}

.py-20 {
  padding: 3rem 0;
}

.py-30 {
  padding: 3rem 0;
}

.py-60 {
  padding: 6rem 0;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

body {
  position: relative;
  background-color: #FFFEFE;
}

.shapes {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}

.shapes::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background: url("/img/bg.png") no-repeat center center/cover;
}

.logo {
  font-family: "Poppins", sans-serif;
  color: #2399FF;
  font-size: 2.2rem;
  font-weight: 600;
}

.heading-primary {
  font-family: "Poppins", sans-serif;
  color: #222;
  font-size: 5.4rem;
}

@media only screen and (max-width: 75em) {
  .heading-primary {
    font-size: 5.6rem;
  }
}

@media only screen and (max-width: 56.25em) {
  .heading-primary {
    font-size: 4.5rem;
  }
}

@media only screen and (max-width: 37.5em) {
  .heading-primary {
    font-size: 3.5rem;
  }
}

.heading-secondary {
  font-family: "Poppins", sans-serif;
  color: #2B2B2B;
  font-size: 3.8rem;
}

@media only screen and (max-width: 75em) {
  .heading-secondary {
    font-size: 4.0rem;
  }
}

@media only screen and (max-width: 56.25em) {
  .heading-secondary {
    font-size: 3.0rem;
  }
}

@media only screen and (max-width: 37.5em) {
  .heading-secondary {
    font-size: 2.6rem;
  }
}

.heading-tertiary {
  font-family: "Poppins", sans-serif;
  color: #333;
  font-size: 2.4rem;
}

@media only screen and (max-width: 75em) {
  .heading-tertiary {
    font-size: 2.2rem;
  }
}

@media only screen and (max-width: 56.25em) {
  .heading-tertiary {
    font-size: 2.2rem;
  }
}

@media only screen and (max-width: 37.5em) {
  .heading-tertiary {
    font-size: 2.0rem;
  }
}

.text-heading-22 {
  font-family: "Poppins", sans-serif;
  color: #333;
  font-size: 2.2rem;
}

.text-heading-20 {
  font-family: "Poppins", sans-serif;
  color: #4e4e4e;
  font-size: 2.0rem;
  font-weight: bold;
}

.text-heading-18 {
  font-family: "Poppins", sans-serif;
  color: #4e4e4e;
  font-size: 1.8rem;
}

.text-heading-16 {
  font-family: "Poppins", sans-serif;
  color: dimgray;
  font-size: 1.8rem;
  font-weight: 400;
}

.text-paragraph-18 {
  font-family: "Poppins", sans-serif;
  color: #333;
  line-height: 1.7;
  font-size: 1.8rem;
}

.text-paragraph-16 {
  font-family: "Poppins", sans-serif;
  color: #333;
  line-height: 1.7;
  font-size: 1.6rem;
}

.text-paragraph-14 {
  font-family: "Poppins", sans-serif;
  color: #333;
  line-height: 1.7;
  font-size: 1.4rem;
}

.btn {
  position: relative;
  display: inline-block;
  font-family: "Poppins", sans-serif;
}

.btn:focus {
  outline: 0;
}

.btn:active {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  outline: 0;
}

.btn-primary {
  background: #2399FF;
  color: #fff;
  padding: 10px 20px;
  border-radius: 4px;
  border: 2px solid #2399FF;
  text-align: center;
  font-size: 16px;
}

.btn-primary:hover {
  border-color: #0088ff;
  background-color: #0088ff;
}

.btn-nav {
  padding: 8px 16px;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo img {
  width: 50px;
}

nav {
  position: relative;
  width: 100%;
  height: 10vh;
  background-color: #fff;
  border-bottom: 1px solid #D6D6D6;
  width: 100%;
  padding: 0 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

@media only screen and (max-width: 75em) {
  nav {
    padding: 0 50px;
  }
}

.nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
}

.nav-link {
  color: #555555;
  -webkit-transition: all 0.15s;
  transition: all 0.15s;
}

.nav-link:hover {
  color: #2399FF;
}

.btns {
  margin-left: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
}

@media only screen and (max-width: 75em) {
  .btns {
    margin-left: 30px;
  }
}

.hamburger-menu {
  display: none;
}

.line {
  width: 25px;
  height: 2px;
  background-color: #2399FF;
  margin: 5px;
  -webkit-transition: all .35s ease-in;
  transition: all .35s ease-in;
}

.toggle .line-1 {
  -webkit-transform: translateY(7px) rotate(45deg);
          transform: translateY(7px) rotate(45deg);
}

.toggle .line-2 {
  opacity: 0;
  -webkit-transform: translateX(-10px);
          transform: translateX(-10px);
}

.toggle .line-3 {
  -webkit-transform: translateY(-7px) rotate(-45deg);
          transform: translateY(-7px) rotate(-45deg);
}

@media screen and (max-width: 900px) {
  body {
    overflow-x: hidden;
  }
  nav {
    padding: 0 20px;
  }
  .nav-links {
    position: absolute;
    right: 0;
    top: 10vh;
    width: 50%;
    height: 90vh;
    padding-top: 30px;
    background-color: #fff;
    z-index: 5;
    -webkit-backdrop-filter: blur(30px);
            backdrop-filter: blur(30px);
    background: rgba(255, 255, 255, 0.95);
    -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition: 0.35s ease-in;
    transition: 0.35s ease-in;
    display: none;
  }
  .nav-links li {
    opacity: 0;
  }
  .nav-links.nav-active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  .hamburger-menu {
    display: block;
    cursor: pointer;
  }
  .btns {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: 0;
  }
}

@-webkit-keyframes navLinkFade {
  from {
    opacity: 0;
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.youtube {
  width: 100%;
  position: fixed;
  height: 100%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.9);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  visibility: hidden;
  z-index: 6;
  opacity: 0;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.youtube.active {
  visibility: visible;
  opacity: 1;
}

.youtube iframe {
  border-radius: 5px;
  position: relative;
  max-width: 900px;
  width: 80%;
  min-height: 70%;
}

.footer {
  width: 100%;
  background: #101010;
  min-height: 100px;
  padding: 20px 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: "Poppins", sans-serif;
}

.social-icon,
.menu {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10px 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.social-icon__item,
.menu__item {
  list-style: none;
}

.social-icon__link {
  font-size: 3.2rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.social-icon__link:hover {
  color: #005cad;
}

.social-icon__link:hover {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

.menu__link {
  font-size: 1.8rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  text-decoration: none;
  opacity: 0.75;
  font-weight: 300;
}

.menu__link:hover {
  opacity: 1;
}

.footer p {
  color: #fff;
  margin: 15px 0 10px 0;
  font-size: 1.6rem;
  font-weight: 300;
}

.header {
  width: 100%;
  min-height: 100vh;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 30px;
}

@media only screen and (max-width: 37.5em) {
  .header {
    padding: 0 20px;
  }
}

.header-container {
  position: relative;
  width: 80%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
  text-align: center;
}

@media only screen and (max-width: 37.5em) {
  .header-container {
    width: 100%;
  }
}

.header-container .heading-primary {
  width: 85%;
}

@media only screen and (max-width: 37.5em) {
  .header-container .heading-primary {
    width: 100%;
  }
}

.header-container p {
  width: 70%;
}

@media only screen and (max-width: 37.5em) {
  .header-container p {
    width: 100%;
  }
}

.header .hero-img {
  -webkit-transform: translateY(0) scale(0.95);
          transform: translateY(0) scale(0.95);
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

@media only screen and (max-width: 37.5em) {
  .header .hero-img {
    width: 100%;
  }
}

.header .hero-img:hover {
  -webkit-transform: translateY(-5px) scale(1.05);
          transform: translateY(-5px) scale(1.05);
}

.about {
  width: 100%;
  background-color: #F0F8FF;
  padding: 30px 0;
}

@media only screen and (max-width: 37.5em) {
  .about {
    padding: 30px 20px;
  }
}

.about-container {
  width: 80%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 45px;
}

@media only screen and (max-width: 56.25em) {
  .about-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media only screen and (max-width: 37.5em) {
  .about-container {
    width: 100%;
  }
}

.about-content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 15px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media only screen and (max-width: 56.25em) {
  .about-content {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

.about-img {
  width: 100%;
}

.about-img img {
  width: 100%;
}

@media only screen and (max-width: 56.25em) {
  .about-img {
    display: none;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

.showcase {
  position: relative;
  width: 100%;
  padding: 60px 0;
  background-color: #005cad;
  color: #fff;
}

@media only screen and (max-width: 37.5em) {
  .showcase {
    padding: 30px 20px;
  }
}

.showcase-container {
  position: relative;
  width: 90%;
  height: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 60px;
}

@media only screen and (max-width: 56.25em) {
  .showcase-container {
    width: 80%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media only screen and (max-width: 37.5em) {
  .showcase-container {
    width: 100%;
  }
}

.showcase-content {
  position: relative;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15px;
}

@media only screen and (max-width: 56.25em) {
  .showcase-content {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    gap: 15px;
    width: 80%;
  }
}

@media only screen and (max-width: 37.5em) {
  .showcase-content {
    width: 80%;
  }
}

.showcase-content .heading-secondary {
  color: #fff;
}

.showcase-content .text-paragraph-16 {
  color: #fff;
}

.showcase-img {
  position: relative;
  cursor: pointer;
  width: 50%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 56.25em) {
  .showcase-img {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    width: 80%;
  }
}

@media only screen and (max-width: 37.5em) {
  .showcase-img {
    width: 100%;
  }
}

.showcase-img::after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 16px;
}

.showcase-img .hero-img {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 16px;
  border: 1px solid #b6b6b6;
}

.showcase-img .play-img {
  position: absolute;
  z-index: 3;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

@media only screen and (max-width: 37.5em) {
  .showcase-img .play-img {
    -webkit-transform: translate(-50%, -50%) scale(0.6);
            transform: translate(-50%, -50%) scale(0.6);
  }
}

.testimonial {
  width: 100%;
  padding: 30px 0;
}

.testimonial .heading-secondary {
  text-align: center;
}

.testimonial-container {
  width: 80%;
  margin: 0 auto;
}

@media only screen and (max-width: 37.5em) {
  .testimonial-container {
    width: 90%;
  }
}

.testimonial-card {
  padding: 30px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15px;
  max-width: 600px;
  width: 100%;
}

.testimonial-card img {
  max-width: 200px;
  width: 100%;
}

:root {
  --swiper-theme-color:#2399FF;
}

@media only screen and (max-width: 37.5em) {
  :root {
    --swiper-navigation-size: 24px;
  }
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.competitive {
  width: 90%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

@media only screen and (max-width: 56.25em) {
  .competitive {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.status {
  width: 100%;
  height: 100%;
  padding: 30px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.status .heading-secondary {
  margin-bottom: 30px;
  text-align: center;
}

.status-container {
  position: relative;
  width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 45px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.status-card {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 230px;
  height: 170px;
  gap: 10px;
  padding: 10px;
  z-index: 4;
  border-radius: 5px;
  text-align: center;
}

.status-card:nth-of-type(1)::before {
  background-color: #DF5DFF;
}

.status-card:nth-of-type(2)::before {
  background-color: #FA9C2D;
}

.status-card:nth-of-type(3)::before {
  background-color: #E8B811;
}

.status-card:nth-of-type(4)::before {
  background-color: #61F6FF;
}

.status-card::after, .status-card::before {
  position: absolute;
  content: '';
  top: 30px;
  bottom: 30px;
  left: 0;
  right: 0;
  z-index: -1;
  background-color: #123242;
  -webkit-clip-path: polygon(13% 0%, 87% 0%, 100% 50%, 87% 100%, 13% 100%, 0% 50%);
          clip-path: polygon(13% 0%, 87% 0%, 100% 50%, 87% 100%, 13% 100%, 0% 50%);
}

.status-card::after {
  top: 0;
  bottom: 0;
  left: 5px;
  right: 5px;
  border-radius: 5px;
  z-index: -1;
  background-color: #fff;
  -webkit-clip-path: polygon(20% 0%, 80% 0%, 100% 50%, 80% 100%, 20% 100%, 0% 50%);
          clip-path: polygon(20% 0%, 80% 0%, 100% 50%, 80% 100%, 20% 100%, 0% 50%);
}

.status-card-img {
  width: 40px;
}

.status-card .heading-secondary {
  font-size: 24px;
}

.status-card .heading-tertiary {
  font-size: 16px;
  color: #868686;
  font-style: italic;
  font-weight: normal;
}

.status-card .counter {
  margin: 0;
}

.achievement {
  width: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 30px 20px;
}

.achievement-container {
  position: relative;
  width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 45px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.story {
  position: relative;
  width: 100%;
  padding: 60px 0;
}

@media only screen and (max-width: 37.5em) {
  .story {
    padding: 30px 20px;
  }
}

.story-container {
  position: relative;
  width: 80%;
  height: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 45px;
}

@media only screen and (max-width: 56.25em) {
  .story-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media only screen and (max-width: 37.5em) {
  .story-container {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.story-content {
  position: relative;
  width: 50%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
}

@media only screen and (max-width: 56.25em) {
  .story-content {
    width: 100%;
    gap: 15px;
  }
}

.story-img {
  width: 50%;
}

@media only screen and (max-width: 56.25em) {
  .story-img {
    width: 100%;
  }
}

.story-img img {
  width: 100%;
}
/*# sourceMappingURL=main.css.map */