.showcase{
    position: relative;
    width: 100%;
    // height: 80vh;
    padding: 60px 0;
    background-color: #005cad;
    color: #fff;
    @include respond(phone){
        padding: 30px 20px;
    }
    
    &-container{
        position: relative;
        width: 90%;
        height: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 60px;
        @include respond(tab-port){
            width: 80%;
            flex-direction: column;
        }
        @include respond(phone){
            width: 100%;
        }
    }
    &-content{
        position: relative;
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        gap: 15px;
        @include respond(tab-port){
            order: 2;
            gap: 15px;
            width: 80%;
        }
        
        @include respond(phone){
            width: 80%;
        }

        & .heading-secondary{
            color: #fff;
        }
        & .text-paragraph-16{
            color: #fff;
        }
    }
    &-img{
        position: relative;
        cursor: pointer;
        width: 50%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        
        @include respond(tab-port){
            order: 1;
            width: 80%;
        }
        
        @include respond(phone){
            width: 100%;
        }
        &::after{
            position: absolute;
            content: '';
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0,0,0,0.2);
           border-radius: 16px;
        }
        & .hero-img{
            position: relative;
            width: 100%;
            height: 100%;
            border-radius: 16px;
            border: 1px solid #b6b6b6;
        }
        & .play-img{
            position: absolute;
            z-index: 3;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            @include respond(phone){
                transform:translate(-50%,-50%) scale(0.6);
            }
        }

    }
}